@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

.reveal .slide-number {
    font-size: 12pt;
 }

.reveal .inline-img {
display: inline;
margin: 0 0.125em;
padding: 0;
vertical-align: baseline;
}
