@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

.reveal .slide-number {
    font-size: 12pt;
 }

.reveal .inline-img {
display: inline;
margin: 0 0.125em;
padding: 0;
vertical-align: baseline;
}

/* .reveal ul{    
    list-style-type: none;
} */

/* div.column{display: inline-block; vertical-align: top; width: 50%;} */

.multiCol {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: left; 
    .col {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding: 2% 0 2% 3%; 
        &:first-of-type { padding-left: 0; } 
    }
}